* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  height: 100vh;
  background: #0D1117;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
